.body {
    background-color: lightblue;
    height: calc(100vh - 55px);
    width: 100vw;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-device-width: 768px) {
    .body {
        height: calc(100vh - 100px);
    }
}

/* main background */

.background-main {
    font-size: 1.5em;
    font-family: DosisExtraLight, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: lightblue;
}

.background-main h1 {
    background-color: lightcoral;
    color: white;
}

@media only screen and (min-device-width: 768px) {
    .background-main h1 {
        font-size: 3em;
    }
}

/* section */

.background-me {
    font-family: DosisExtraLight, sans-serif;
    background-color: lawngreen;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 55px);
    width: 100vw;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    z-index: 2;
}

.background-me h1 {
    color: white;
    font-size: 1.5em;
}

@media only screen and (min-device-width: 768px) {
    .background-me h1 {
        font-size: 5em;
    }
    .background-me {
        height: calc(100vh - 100px);
    }
}

.background-work {
    font-family: DosisExtraLight, sans-serif;
    background-color: turquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 55px);
    width: 100vw;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    z-index: 2;
}

.background-work h1 {
    color: white;
    font-size: 1.5em;
}

@media only screen and (min-device-width: 768px) {
    .background-work h1 {
        font-size: 5em;
    }
    .background-work {
        height: calc(100vh - 100px);
    }
}

.background-contact {
    font-family: DosisExtraLight, sans-serif;
    background-color: slateblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 55px);
    width: 100vw;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    z-index: 2;
}

.background-contact h1 {
    color: white;
    font-size: 1.5em;
}

@media only screen and (min-device-width: 768px) {
    .background-contact h1 {
        font-size: 5em;
    }
    .background-contact {
        height: calc(100vh - 100px);
    }
}

/* page-me */

.page-me {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
    align-items: center;
    height: calc(100vh - 55px);
    width: 100vw;
    background-color: white;
}

.page-me h2 {
    font-family: DosisMedium, sans-serif;
    color: lawngreen;
    text-align: center;
    font-size: 1.7em
}

.page-me p {
    text-align: justify;
    font-size: 1em;
}

.page-me-block {
    display: flex;
    flex-direction: column;
}

.page-me-block--first {
    display: flex;
    flex: 1;
}

.page-me-block--second {
    display: flex;
    flex: 1;
}

@media only screen and (min-device-width: 768px) {
    .page-me {
        height: calc(100vh - 100px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .page-me h2 {
        text-align: left;
        font-size: 3em;
        font-family: DosisExtraLight, sans-serif;
        background-color: lawngreen;
        color: white;
        width: 50%;
    }

    .page-me p {
        text-align: justify;
        font-size: 1.2em;
    }

    .page-me-block {
        flex-direction: row;
    }

    .page-me-block--first {
        padding: 10px 0 10px 0;
    }

    .page-me-block--second {
        padding: 10px 0 10px 0;
    }
}

/* page-work */

.page-work {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
    align-items: center;
    height: calc(100vh - 55px);
    width: 100vw;
    background-color: white;
}

.page-work h2 {
    font-family: DosisMedium, sans-serif;
    color: turquoise;
    text-align: center;
    font-size: 1.7em
}

.page-work-projects {
    display: flex;
    flex-direction: column;
}

.page-work-projects--block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 10px;
}

.page-work-projects--block h3 {
    text-align: center;
    color: turquoise;
    font-family: DosisLight, sans-serif;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgrey;
    width: 60%;
}

.page-work-projects--block a {
    text-decoration: none;
    color: turquoise;
    width: 100%;
    text-align: center;
}

.page-work-projects--block a:hover {
    text-decoration: none;
    color: white;
    background-color: turquoise;
}

.img-project {
    width: 100%;
    height: 50%;
    box-shadow: 0 0 1px darkgrey;
}

@media only screen and (min-device-width: 768px) {
    .page-work {
        height: calc(100vh - 100px);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .page-work .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .page-work h2 {
        padding-left: 10px;
        font-size: 3em;
        font-family: DosisExtraLight, sans-serif;
        margin: 8% 0 8% 0;
        background-color: turquoise;
        color: white;
        width: 42%
    }

    .page-work-projects {
        flex-direction: row;
    }

    .page-work-projects--block {
        margin: 15px;
    }

    .page-work-projects--block h3 {
        font-size: 2em;
    }

    .page-work-projects--block p {
        font-size: 1.2em;
    }
}

/* page-contact */

.page-contact {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
    align-items: center;
    height: calc(100vh - 55px);
    width: 100vw;
    background-color: white;
}

@media only screen and (min-device-width: 768px) {
    .page-contact {
        height: calc(100vh - 100px);
    }
}