.body {
    background-color: lightblue;
    height: calc(100vh - 55px);
    width: 100vw;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-device-width: 768px) {
    .body {
        height: calc(100vh - 100px);
    }
}

.background-main {
    font-size: 1.5em;
    font-family: DosisExtraLight, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: lightblue;
}

.background-main h1 {
    background-color: lightcoral;
    color: white;
}

@media only screen and (min-device-width: 768px) {
    .background-main h1 {
        font-size: 3em;
    }
}

/* section */

.background-me {
    font-family: DosisExtraLight, sans-serif;
    background-color: lawngreen;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 55px);
    width: 100vw;
    visibility: hidden;
    position: absolute;
    /* transition: .3s ease; */
    opacity: 0;
    z-index: 1;
}

.background-me h1 {
    color: white;
    font-size: 1.5em;
}

@media only screen and (min-device-width: 768px) {
    .background-me h1 {
        font-size: 5em;
    }
    .background-me {
        height: calc(100vh - 100px);
    }
}

.background-work {
    font-family: DosisExtraLight, sans-serif;
    background-color: turquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 55px);
    width: 100vw;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.background-work h1 {
    color: white;
    font-size: 1.5em;
}

@media only screen and (min-device-width: 768px) {
    .background-work h1 {
        font-size: 5em;
    }
    .background-work {
        height: calc(100vh - 100px);
    }
}

.background-contact {
    font-family: DosisExtraLight, sans-serif;
    background-color: slateblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 55px);
    width: 100vw;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    z-index: 1;
}

.background-contact h1 {
    color: white;
    font-size: 1.5em;
}

@media only screen and (min-device-width: 768px) {
    .background-contact h1 {
        font-size: 5em;
    }
    .background-contact {
        height: calc(100vh - 100px);
    }
}

.page-me {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: calc(100vh - 55px);
    width: 100vw;
    background-color: lightgreen;
}

@media only screen and (min-device-width: 768px) {
    .page-me {
        height: calc(100vh - 100px);
    }
}

.page-work {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: calc(100vh - 55px);
    width: 100vw;
    background-color: paleturquoise;
}

@media only screen and (min-device-width: 768px) {
    .page-work {
        height: calc(100vh - 100px);
    }
}

.page-contact {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: calc(100vh - 55px);
    width: 100vw;
    background-color: mediumslateblue;
}

@media only screen and (min-device-width: 768px) {
    .page-contact {
        height: calc(100vh - 100px);
    }
}