.body {
    background-color: antiquewhite;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 4em;
    font-family: DosisExtraLight, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: slateblue;
    order: 2;
}

@media only screen and (min-device-width: 768px) {
    .title {
        font-size: 10em;
    }
}

.dots {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 15px;
    order: 1;
}

@media only screen and (min-device-width: 768px) {
    .dots {
        margin-top: 30px;
    }
}

/* section */


.button-me,
.button-work,
.button-contact {
    height: 25px;
    width: 25px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
    margin: 15px;
}

.button-me:hover,
.button-work:hover,
.button-contact:hover {
    background-size: 150% 150%;
    color: white;
}

@media only screen and (min-device-width: 768px) {
    .button-me,
    .button-work,
    .button-contact {
        height: 30px;
        width: 30px;
        margin: 35px;
        border: 3px solid white;
        background-image: radial-gradient(circle at center , white 50%, transparent 50%);;
        background-repeat: no-repeat;
        transition: background-size .3s, color .3s;
        background-size: 0 0;
        background-position: 50% 50%;
    }
}

.background-me {
    height: 100vh;
    width: 100vw;
    background-color: greenyellow;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 4em;
    font-family: DosisExtraLight, sans-serif;
    color: white;
    transition: .2s ease;
    z-index: -1;
}

.button-me:hover + .background-me {
    visibility: visible;
    opacity: 1;
    font-size: 4.5em;
}

@media only screen and (min-device-width: 768px) {
    .background-me {
        font-size: 14em;
    }
    .button-me:hover + .background-me {
        visibility: visible;
        opacity: 1;
        font-size: 15em;
    }
}

.background-work {
    height: 100vh;
    width: 100vw;
    background-color: turquoise;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 4em;
    font-family: DosisExtraLight, sans-serif;
    color: white;
    transition: .3s ease;
    z-index: -1;
}

.button-work:hover + .background-work {
    visibility: visible;
    opacity: 1;
    font-size: 4.5em;

}

@media only screen and (min-device-width: 768px) {
    .background-work {
        font-size: 14em;
    }

    .button-work:hover + .background-work {
        visibility: visible;
        opacity: 1;
        font-size: 15em;
    }
}

.background-contact {
    height: 100vh;
    width: 100vw;
    background-color: slateblue;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 4em;
    font-family: DosisExtraLight, sans-serif;
    color: white;
    transition: .3s ease;
    z-index: -1;
}

.button-contact:hover + .background-contact {
    visibility: visible;
    opacity: 1;
    font-size: 4.5em;
}

@media only screen and (min-device-width: 768px) {
    .background-contact {
        font-size: 14em;
    }

    .button-contact:hover + .background-contact {
        visibility: visible;
        opacity: 1;
        font-size: 15em;
    }
}

