.header {
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    box-shadow: 0 2px lightgrey;
}

.button-me,
.button-work,
.button-contact {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    margin: 25px;
    cursor: pointer;
    transition: all .1s ease-in-out;
    background-color: lightgrey;

}

.button-me:hover {
    transform: scale(2.7);
    background-color: lawngreen;
}

.button-work:hover {
    transform: scale(2.7);
    background-color: turquoise;
}

.button-contact:hover {
    transform: scale(2.7);
    background-color: slateblue;
}


@media only screen and (min-device-width: 768px) {
    .button-me,
    .button-work,
    .button-contact {
        height: 12px;
        width: 12px;
        border-radius: 50px;
        margin: 44px;
        cursor: pointer;
        transition: all .1s ease-in-out;
        background-color: lightgrey;
    }

    .button-me:hover,
    .button-me.active {
        transform: scale(2.5);
        background-color: lawngreen;
    }

    .button-work:hover,
    .button-work.active{
        transform: scale(2.5);
        background-color: turquoise;
    }


    .button-contact:hover,
    .button-contact.active{
        transform: scale(2.5);
        background-color: slateblue;
    }
}

/*

.header {
    background-color: white;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
}

.button-me,
.button-work,
.button-contact {
    height: 25px;
    width: 25px;
    border-radius: 15px;
    cursor: pointer;
    margin: 15px;
    background-image: radial-gradient(circle at center , darkgrey 50%, transparent 50%);;
    background-repeat: no-repeat;
    transition: background-size .1s, color .1s;
    background-size: 10px 10px;
    background-position: 50% 50%;
}

.button-me:hover,
.button-work:hover,
.button-contact:hover {
    background-size: 150% 150%;
}

@media only screen and (min-device-width: 768px) {
    .button-me,
    .button-work,
    .button-contact {
        height: 30px;
        width: 30px;
        margin: 35px;
        background-image: radial-gradient(circle at center , darkgrey 50%, transparent 50%);;
        background-repeat: no-repeat;
        transition: background-size .1s, color .1s;
        background-size: 10px 10px;
        background-position: 50% 50%;
    }
}
*/
