{% extends ('base.html.twig') %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/nav.css') }}">
{% endblock %}

{% block body %}



    {% block content %}
    {% endblock %}

    <section class="footer">
        <div class="nav">
            <div class="button-me">
            </div>
            <div class="button-work">
            </div>
            <div class="button-contact">
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}