{% extends ('app/layout.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">
{% endblock %}

    {% block content %}

        <section class="body">
            <div class="background-main">
                <h1>BIENVENUE</h1>
            </div>
            <div class="background-me">
                <h1>BONJOUR !</h1>
            </div>
            <div class="background-work">
                <h1>MES TRUCS ...</h1>
            </div>
            <div class="background-contact">
                <h1>ALLÔ ?</h1>
            </div>
            <div class="pageContent page-me" data-background-type="me">
                <div class="container">
                    <h2>Et bienvenue sur mon site !</h2>
                    <div class="page-me-block">
                        <div class="page-me-block--first">
                            <p>Je me présente je m'appelle Christian et je vais vous parler un peu de moi.<br>
                                Ayant toujours eu un attrait pour le numérique j'ai commencé très tôt à m'intéresser à l'informatique en passant par les programmes d'Adobe.<br>
                                Autodidacte dans ce domaine, j'ai commencé à créer mes premiers visuels et premières maquette sur ordinateur.<br>
                                <br>
                                Bien qu'étant pâtissier de formation et aimant créer de jolies choses sucrées, je continuais de mon temps libre à explorer le monde digital.<br>
                                Me sentant à l'aise dans ce milieu, j'ai décidé de me mettre à mon compte et de créer mon tout premier site internet pour un client.<br>
                                <br>
                                À mon retour en France, je continuais d'offrir mes services d'infographiste en tant que bénévole pour une association. Me lançant aussi dans des challenges tels que les GameJams en tant qu'illustrateur pendant mon temps libre.<br>
                                Après cette expérience passionnante et moult péripéties, je fis le choix difficile de garder la pâtisserie comme passe-temps et me lançais enfin à plein temps dans ma reconversion !<br>
                                <br>
                                Ma curiosité finira par m'emmener à pousser les portes de la Wild Code School de Lyon pour découvrir le PHP, le framework Symfony et des personnes toutes aussi intéressantes que passionnées.<br>
                            </p>
                        </div>
                        <div class="page-me-block--second">

                        </div>
                    </div>
                </div>
            </div>
            <div class="pageContent page-work" data-background-type="work">
                <div class="container">
                    <h2>Mes travaux récents</h2>
                    <div class="first-project">

                    </div>
                </div>
            </div>
            <div class="pageContent page-contact" data-background-type="contact">
                <div class="container">
                    <h2>contactez-moi</h2>
                    <p>Envie d'en savoir plus?<br>
                       D'échanger ?<br>
                       Ou tout simplement de savoir quel restau vaut le coup dans le coin ?
                    </p>
                </div>
            </div>
        </section>

    {% endblock %}
