{% extends ('app/layout.html.twig') %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">
{% endblock %}

    {% block content %}

        <section class="body">
                <div class="background-main">
                    <h1>BIENVENUE</h1>
                </div>
        </section>

    {% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}
