{% extends ('app/layout.html.twig') %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">
{% endblock %}

    {% block content %}

        <section class="header">
            <!-- <h1 class="title">BIENVENUE</h1> -->
            <div class="dots">
                <div class="button-me">
                </div>
                <div class="background-me">BONJOUR !</div>

                <div class="button-work">
                </div>
                <div class="background-work">MES TRUCS</div>
                <div class="button-contact">
                </div>
                <div class="background-contact">ALLÔ ?</div>
            </div>
        </section>

        <section class="body">
            <div class="container">

            </div>
        </section>

    {% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/index.js') }}"></script>
{% endblock %}
